<div class="welcome">
	<label for="welcome_label">Welcome to the youtube playlist application!</label>
</div>

<div class="address_display">
	<label for="server_address_label">Server address is *ip*</label><br />
	<input name="reconnect_button" type="submit" value="Reconnect" />
</div>

<div class="url_input">
	<input name="url_input_field" type="text" value="Insert your youtube video url" /> 
	<input name="paste_url_button" type="submit" value="Paste" />
</div>

<div class="send">
	<form action="send_url/" method="GET">
		<input name="send_url_button" type="submit" value="Send To Playlist" />
	</form>
</div>