<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Youtube Playlist</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script>
			async function getIP() {
				var findIP = new Promise(r=>{var w=window,
					a=new (w.RTCPeerConnection||w.mozRTCPeerConnection||w.webkitRTCPeerConnection)({iceServers:[]}),b=()=>{};
					a.createDataChannel("");
					a.createOffer(c=>a.setLocalDescription(c,b,b),b);
					a.onicecandidate=c=>{try{c.candidate.candidate.match(/([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/g).forEach(r)}catch(e){}}})
				
				findIP.then(function(ip){console.log('your ip: ', ip);
										 document.getElementById("self_id").value = ip;
										}).catch(e => console.error(e))
			}
		</script>
	</head>
	<body style="text-align:center" onload="getIP()">
		<div class="welcome">
			<label for="welcome_label">Welcome to the youtube playlist application!</label>
		</div>
		
		<div class="address_display">
			<form action="server_reconnect/" method="GET">
				<label for="server_address_label">Server address is </label>
				<label for="ip_label">{{ backend_address|default:"UNKNOWN" }}</label><br />
				<input name="reconnect_button" type="submit" value="Reconnect" />
			</form>
		</div>
		
		<div class="url_input">
			<form action="send_url/" method="GET">
				<input name="self_id" id="self_id" type="hidden" value="*unknown*" /><br/>
				<input name="url_input_field" type="url" placeholder="Insert youtube url" /><br/>
				<input name="send_url_button" type="submit" value="Send To Playlist" />
			</form>
		</div>
	</body>
</html>
